.content-about__us {
    margin-top: 14%;
    display: flex;
    gap: 5%;
    animation: slide-up 1.5s ease-in-out;
}

.section {
    display: flex;
    width: 45%;
    align-items: center;
}

.section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section div p {
    width: 700px;
    text-align: center;
    font-size: 30px;
}

.avatar {
    margin-top: -180px;
    margin-bottom: 150px;
    margin-left: 15px;
    width: 450px;
    height: 450px;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}